<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% block meta_head %}
        <meta charset="utf-8">
        <title>{{ page_title }}</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link href="/static/ciciot/css/footer.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block head %}
    {% include '_head.html' %}
{% endblock %}
{% block content %}{% endblock %}
{% include '_footer.html' %}
{% block script %}{% endblock %}
</body>
</html>
