<section class="footups">
    <div class="footup1">
        <div class="footup2">
            <div class="container">
                <div class="row">
                    <div class="col-md footup offset-md-2"><a href="#">关于我们</a></div>
                    <div class="col-md footup"><a href="#">诚聘英才</a></div>
                    <div class="col-md footup"><a href="#">商务合作</a></div>
                    <div class="col-md footup"><a href="#">联系我们</a></div>
                    <div class="col-md footup"><a href="#">投稿</a></div>
                    <div class="col-md footup3"><a href="#">网站地图</a></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footers">
    <div class="container">

        <div class="row">


            <div class="  col-md-4 offset-md-1">
                <h1 class="title">主办单位</h1>
                <div class="row">
                    <div class="col-md-5">
                        <p>中国电子学会通信分会</p>
                        <p>物联网学报编委会</p>
                    </div>
                    <div class="col-md-6">
                        <p>中国通信学会物联网委员会</p>
                        <p>南京邮电大学物联网研究所</p>
                    </div>
                </div>
                <p>江苏省物联网技术与应用协同创新中心</p>

            </div>
            <div class="col-md-3">
                <h1 class="title">商务合作联系方式</h1>
                <p>商务合作邮箱 : ciciot@njupt.edu.cn</p>
                <p>商务电话 : 025-83535035</p>
            </div>
            <div class="col-md-2">
                <h1 class="title">技术支持</h1>
                <p>上海飞奥技术服务有限公司</p>
            </div>
            <div class="col-md-1 ">
                <img class="er"
                     src="/static/ciciot/static/journal/qr_code.png">
            </div>
            <div class="col-md-12">
                <hr/>
                <p class="last">Copyright - 2018,ciciot.com.All rights reserved.|ICP证：京ICP备09082226号-33</p>
            </div>

        </div>
    </div>
</section>
