<section id="head">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <img src="/static/ciciot/static/journal/logo.jpg">
            </div>
            <div class="col-md-4">
                <div class="searchbox">
                    <div class="mod_select">
                        <div class="select_box">
                            <span class="select_txt">全部搜索</span>
                            <span class="select-icon"></span>
                            <ul class="option">
                                <li>部分搜索</li>
                                <li>全部搜索</li>
                            </ul>
                        </div>
                    </div>
                    <form action="">
                        <input type="hidden" name="" value="全部搜索" id="select_value">
                        <input type="text" name="" id="searchPlaceholder" class="import" placeholder="请输入查找内容">
                        <input type="submit" value="搜   索" class="btn-search">
                    </form>
                </div>
            </div>
            <div class="col-md-1">
                <div class="login"><a href="#">登陆</a>|<a href="#">注册</a></div>
            </div>
        </div>
    </div>
</section>