{% extends '_base.html' %}

{% block meta_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/ciciot/css/internet.css">
    <link href="/static/ciciot/css/head.css" rel="stylesheet">

{% endblock %}
{% block content %}

    <div class="pageall">
        <div class="container">
            <div class="row">
                <div class="col-md offset-md-1">
                    <a href="#"><p>首页</p></a>
                </div>
                <div class="col-md">
                    <a href="#"><p>新闻动态</p></a>
                </div>
                <div class="col-md">
                    <a href="#"><p>热点资讯</p></a>
                </div>
                <div class="col-md">
                    <a href="#"><p>协同制造</p></a>-
                </div>
                <div class="col-md">
                    <a href="#"><p>智能终端</p></a>
                </div>
                <div class="col-md">
                    <a href="#"><p>可穿戴</p></a>
                </div>
                <div class="col-md">
                    <a href="#"><p>示范</p></a>
                </div>
                <div class="col-md">
                    <a href="#"><p>专题</p></a>
                </div>
                <div class="col-md">
                    <a href="#"><p>教育</p></a>
                </div>

            </div>
            <div class="row">
                <div class="col-md offset-md-1">
                    <a href="#"><p>人物</p></a>
                </div>
                <div class="col-md">
                    <a href="#"><p>前沿科技</p></a>
                </div>
                <div class="col-md">
                    <a href="internet.html"><p>互联网+</p></a>
                </div>
                <div class="col-md">
                    <a href="#"><p>智慧城市</p></a>
                </div>
                <div class="col-md">
                    <a href="#"><p>信息平台</p></a>
                </div>
                <div class="col-md">
                    <a href="#"><p>网页修改</p></a>
                </div>
                <div class="col-md">
                    <a href="#"><p>众创</p></a>
                </div>
                <div class="col-md">
                    <a href="#"><p>论坛</p></a>
                </div>
                <div class="col-md">
                    <a href="#"><p>学报</p></a>
                </div>
            </div>
        </div>
    </div>

    <div class="bigtab">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="tab">
                        <div class="row">
                            <div class="col-md tabtitle">
                                <button class="bigtablinks" onclick="openTabBig(event, 'bigcontent1')" id="defaultOpen">
                                    智慧农业
                                </button>
                            </div>
                            <div class="col-md tabtitle">
                                <button class="bigtablinks" onclick="openTabBig(event, 'bigcontent2')">现代农业</button>
                            </div>
                            <div class="col-md tabtitle">
                                <button class="bigtablinks" onclick="openTabBig(event, 'bigcontent3')">便捷交通</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="bigcontent1" class="bigtabcontent">

    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    {% include '_slideshare.html' with picture_url="/static/ciciot/static/internet/banner.jpg" %}
                </div>
            </div>
        </div>
    </div>

    <div class="issue">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-1">
                    {% for article in articles %}
                        {% if forloop.counter == 1 %}
                            <div class="row">
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="row">
                        {% endif %}
                    <div class="col-md it">
                        <div class="item">
                            <img class="item-img" src="{{ article.preview_picture }}" alt="item-img">
                            <div class="title">
                                <a href="{% url 'article:detail' article.id %}"><span>{{ article.title }}</span></a>
                            </div>
                            <div class="content">
                                <span>{{ article.headline }}</span>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                    {% endif %}
                    {% endfor %}

                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default btn-lag btn-block readmore">点击查看更多</button>
                        </div>
                    </div>
                    </div>

                    <div class="col-md-2">
                        <div class="hotinfo">
                            <img class="feature-img" src="/static/ciciot/static/internet/hotinfo.png" alt="热门资讯">
                            <span>热门资讯</span>
                            <ul>
                                {% for article in articles %}
                                    <li><a href="{% url 'article:detail' article.id %}">{{ article.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="news">
                            <img class="feature-img" src="/static/ciciot/static/internet/news.png" alt="新闻专题">
                            <span>新闻专题</span>
                            <div class="smalltab">
                                <div class="tab">
                                    <div class="row">
                                        <div class="col-md tabtitle1">
                                            <button class="smalltablinks" onclick="openTabSmall(event, 'smallcontent1')"
                                                    id="defaultOpenSmall">新闻动态
                                            </button>
                                        </div>
                                        <div class="col-md tabtitle2">
                                            <button class="smalltablinks"
                                                    onclick="openTabSmall(event, 'smallcontent2')">前沿科技
                                            </button>
                                        </div>
                                        <div class="col-md tabtitle">
                                            <button class="smalltablinks"
                                                    onclick="openTabSmall(event, 'smallcontent3')">网络科技
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="smallcontent1" class="smalltabcontent">

                                {% include '_slideshare.html' with picture_url="/static/ciciot/static/internet/newspic.png" %}

                                <div class="news-article">
                                    {% for article in news_articles %}
                                        <p><a href="{% url 'article:detail' article.id %}">{{ article.title }}</a></p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div id="smallcontent2" class="smalltabcontent">
                                {% include '_slideshare.html' with picture_url="/static/ciciot/static/internet/newspic.png" %}

                                <div class="news-article">
                                    {% for article in tech_articles %}
                                        <p><a href="{% url 'article:detail' article.id %}">{{ article.title }}</a></p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div id="smallcontent3" class="smalltabcontent">
                                {% include '_slideshare.html' with picture_url="/static/ciciot/static/internet/newspic.png" %}

                                <div class="news-article">
                                    {% for article in net_articles %}
                                        <p><a href="{% url 'article:detail' article.id %}">{{ article.title }}</a></p>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                        <div class="rank">
                            <img class="feature-img" src="/static/ciciot/static/internet/rank.png" alt="热门排行">
                            <span>热门排行</span>
                            <ol>
                                {% for article in articles %}
                                    <li><a href="{% url 'article:detail' article.id %}"><span>{{ article.title }}</span></a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>


                </div>


            </div>
        </div>

    </div>
    <div id="bigcontent2" class="bigtabcontent">
        222
    </div>
    <div id="bigcontent3" class="bigtabcontent">
        333
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/ciciot/js/head.js"></script>
    <script>
        function openTabBig(evt, bigTabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("bigtabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("bigtablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(bigTabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
    <script>
        function openTabSmall(evt, smallTabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("smalltabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("smalltablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(smallTabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpenSmall").click();
    </script>
{% endblock %}