#main h3
{
    padding-bottom: 20px;
}
#main .date p
{
    font-size:14px;
    color:#999999;
    margin: 0px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.end
{
    text-align: end;
}
#main .full img
{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.full
{
    padding: 0px;
}
.side
{
    padding: 0px;
}
.text-intent p
{
    font-size:16px;
    color: #333333;
    text-indent: 2em;
    margin: 10px 0 10px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.right
{
    background-color: #fafafa;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.right-img
{
    padding-left: 15px;
    padding-right: 0px;
}
.right-img img
{
    padding-left: 13px;
    padding-right: 0px;
    width: 100%;
}
.up
{
    display: inline-block; 
	white-space: nowrap;
	width: 125px; 
	overflow: hidden; 
	text-overflow:ellipsis;
    font-size: 14px; 
    line-height: 16px;
    margin: 0px;
    padding-top: 10px;
    color: #666666;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.hot
{
    display: inline-block; 
	white-space: nowrap;
	width: 215px; 
	overflow: hidden; 
	text-overflow:ellipsis;
    font-size: 16px; 
    line-height: 16px;
    margin: 0px;
    padding-top: 0px;
    color: #666666;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.down
{
    font-size: 14px; 
    line-height: 16px;
    margin: 0px;
    color:#b6b6b6;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.side-img
{
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 15px;
}
.side-img p
{
    font-size: 20px;
    margin-bottom: 15px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.advise
{
    padding-top: 1px;
}
ul
{
 list-style-image:url("item1.png");
 padding-left: 0px;
 margin-left: 30px;
}
ul li
{
    padding-bottom: 5px;
}
.bottom
{
    margin-top: 25px;
    margin-bottom: 35px;
}
#hr hr
{
    margin-top: 0px;
    margin-bottom: 40px;
}

