#head {
        font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
#head .col-md-5{
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 5px;
}
#head .col-md-4{
    padding: 0px;
}
#head .col-md-1{
    padding: 0px;
    text-align: right;
    margin-top: 30px;
    margin-left: 8px;
}
#head img{
margin-top: 5px ;
    margin-bottom: 10px;
    width: 390px;
}
#head a{
    text-decoration:none;
    color:black;
    margin-right: 5px;
    margin-left: 5px;
    display:inline;
    font-size: 13px;
}
#head a:hover{
    color: blue;
}

#head li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.searchbox {
    position: relative;
    z-index: 1;
    clear: both;
    width: 395px;
    height: 35px;
    margin: 27px auto 10px;
    border: 1px solid #aaaaaa;
    margin-left: 0px;

}
.mod_select {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
}
.mod_select .select_box {
    position: relative;
    width: 80px;
    height: 30px;
}
.mod_select .select_box .select_txt {
    display: inline-block;
    width: 80px;
    height: 30px;
    padding-left: 15px;
    overflow: hidden;
    line-height: 30px;
    font-size: 13px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 1px;

}
.mod_select .select_box .select-icon {
    position: absolute;
    top: 50%;
    right: 0px;
    left: 80px;
    transform: translate(0,-50%);
    width: 10px;
    height: 10px;
    background: url(../static/journal/icon1.png) center no-repeat;
}
.mod_select .select_box .option {
    display: none;
    position: absolute;
    top: 33px;
    left: -1px;
    width: 100px;
    background-color: #ffffff ;
    border: 1px solid #aaaaaa;
    border-top: 0;
    line-height: 30px;
    font-size: 13px;
    font-weight: 500;
    padding-left: 15px;
}
.mod_select .select_box .option li {
    padding-left: 0px;
    font-size: 14px;
    line-height: 2;
    cursor: pointer;
}
.searchbox .import {
    width: 190px;
    height: 15px;
    margin-left: 100px;
    margin-top: 7px;
    padding-left: 10px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    outline: none;
    font-size: 13px;
}
.searchbox .btn-search {
    position: absolute;
    right: 0;
    width: 95px;
    height: 34px;
    color: #fff;
    background-color: #2a83d3;
    border: 0;
    margin-right: -2px;
    font-size: 14px;
}
